Importazione dataset

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
loans_lenders=pd.read_csv("C:\\Users\\Alessio\\Desktop\\Universita\\Magistrale\\Primo anno\\Foundations of computer science\\Progetto\\additional-kiva-snapshot\\loans_lenders.csv")
display(loans_lenders.head(),loans_lenders.tail())

   loan_id                                            lenders
0   483693  muc888, sam4326, camaran3922, lachheb1865, reb...
1   483738  muc888, nora3555, williammanashi, barbara5610,...
2   485000  muc888, terrystl, richardandsusan8352, sherri4...
3   486087  muc888, james5068, rudi5955, daniel9859, don92...
4   534428  muc888, niki3008, teresa9174, mike4896, david7...

         loan_id                                            lenders
1387427   678999  michael43411218, carol5987, gooddogg1, chris41...
1387428  1207353  rjhoward1986, jeffrey6870, trolltech4460, elys...
1387429  1206220  vicky7746, gooddogg1, fairspirit, craig9729960...
1387430  1206425  rich6705, sergiiy9766, angela7509, barbara5610...
1387431  1206486                              alan5175, amy38101311

In [3]:
loans=pd.read_csv("C:\\Users\\Alessio\\Desktop\\Universita\\Magistrale\\Primo anno\\Foundations of computer science\\Progetto\\additional-kiva-snapshot\\loans.csv")
display(loans.head(),loans.tail(),list(loans.columns))

,loan_id,loan_name,original_language,description,description_translated,funded_amount,loan_amount,status,activity_name,sector_name,...,raised_time,lender_term,num_lenders_total,num_journal_entries,num_bulk_entries,tags,borrower_genders,borrower_pictured,repayment_interval,distribution_model
0,657307,Aivy,English,"Aivy, 21 years of age, is single and lives in ...",NaN,125.0,125.0,funded,General Store,Retail,...,2014-01-15 04:48:22.000 +0000,7.0,3,2,1,NaN,female,true,irregular,field_partner
1,657259,Idalia Marizza,Spanish,"Doña Idalia, esta casada, tiene 57 años de eda...","Idalia, 57, is married and lives with her husb...",400.0,400.0,funded,Used Clothing,Clothing,...,2014-02-25 06:42:06.000 +0000,8.0,11,2,1,NaN,female,true,monthly,field_partner
2,658010,Aasia,English,Aasia is a 45-year-old married lady and she ha...,NaN,400.0,400.0,funded,General Store,Retail,...,2014-01-24 23:06:18.000 +0000,14.0,16,2,1,"#Woman Owned Biz, #Supporting Family, user_fav...",female,true,monthly,field_partner
3,659347,Gulmira,Russian,"Гулмире 36 лет, замужем, вместе с супругом вос...",Gulmira is 36 years old and married. She and ...,625.0,625.0,funded,Farming,Agriculture,...,2014-01-22 05:29:28.000 +0000,14.0,21,2,1,user_favorite,female,true,monthly,field_partner
4,656933,Ricky\t,English,Ricky is a farmer who currently cultivates his...,NaN,425.0,425.0,funded,Farming,Agriculture,...,2014-01-14 17:29:27.000 +0000,7.0,15,2,1,"#Animals, #Eco-friendly, #Sustainable Ag",male,true,bullet,field_partner

,loan_id,loan_name,original_language,description,description_translated,funded_amount,loan_amount,status,activity_name,sector_name,...,raised_time,lender_term,num_lenders_total,num_journal_entries,num_bulk_entries,tags,borrower_genders,borrower_pictured,repayment_interval,distribution_model
1419602,988180,NaN,NaN,NaN,NaN,400.0,400.0,funded,Tailoring,Services,...,2015-12-28 15:44:18.000 +0000,14.0,16,4,2,"#Parent, #Repeat Borrower, #Woman Owned Biz",NaN,NaN,monthly,field_partner
1419603,988213,Perlita,English,"Perlita is 52 years old, married and has three...","Perlita is 52 years old, married and has three...",300.0,300.0,funded,Pigs,Agriculture,...,2015-12-22 10:37:06.000 +0000,14.0,12,1,1,"#Animals, #Elderly, #Repeat Borrower, #Woman O...",female,true,irregular,field_partner
1419604,989109,Okyeso Nyame Group,English,Okyeso Nyame group will begin its third cycle ...,Okyeso Nyame group will begin its third cycle ...,2425.0,2425.0,funded,Bakery,Food,...,2015-12-26 20:24:47.000 +0000,8.0,76,2,1,"user_favorite, #Parent, #Vegan, #Woman Owned B...","female, female, female, male, male, female","true, true, true, true, true, true",irregular,field_partner
1419605,989143,Exequila,English,"Exequila is from San Miguel, Bohol. She is in...","Exequila is from San Miguel, Bohol. She is in...",100.0,100.0,funded,Farming,Agriculture,...,2015-12-06 21:03:57.000 +0000,12.0,3,1,1,NaN,female,true,irregular,field_partner
1419606,989240,Lydia,French,Lydia a 37ans et habite dans une zone rurale. ...,Lydia is 37 years old and lives in a rural are...,175.0,175.0,funded,Sewing,Services,...,2015-12-04 23:17:04.000 +0000,14.0,7,1,1,NaN,female,true,monthly,field_partner

['loan_id',
 'loan_name',
 'original_language',
 'description',
 'description_translated',
 'funded_amount',
 'loan_amount',
 'status',
 'activity_name',
 'sector_name',
 'loan_use',
 'country_code',
 'country_name',
 'town_name',
 'currency_policy',
 'currency_exchange_coverage_rate',
 'currency',
 'partner_id',
 'posted_time',
 'planned_expiration_time',
 'disburse_time',
 'raised_time',
 'lender_term',
 'num_lenders_total',
 'num_journal_entries',
 'num_bulk_entries',
 'tags',
 'borrower_genders',
 'borrower_pictured',
 'repayment_interval',
 'distribution_model']

1) Normalize the loan_lenders table. In the normalized table, each row must have one loan_id and one lender.

In [4]:
loans_lenders_normalized=loans_lenders.set_index("loan_id").apply(lambda x: x.str.split(', ').explode()).reset_index()
display(loans_lenders_normalized)

          loan_id            lenders
0          483693             muc888
1          483693            sam4326
2          483693        camaran3922
3          483693        lachheb1865
4          483693        rebecca3499
...           ...                ...
28293926  1206425  trogdorfamily7622
28293927  1206425          danny6470
28293928  1206425            don6118
28293929  1206486           alan5175
28293930  1206486        amy38101311

[28293931 rows x 2 columns]

2) For each loan, add a column duration corresponding to the number of days between the disburse time and the planned expiration time. If any of those two dates is missing, also the duration must be missing.

In [5]:
#andiamo a osservare le variabili che serviranno
duration=loans.iloc[: , [0,19,20]]
display(duration)

         loan_id        planned_expiration_time                  disburse_time
0         657307  2014-02-14 03:30:06.000 +0000  2013-12-22 08:00:00.000 +0000
1         657259  2014-03-26 22:25:07.000 +0000  2013-12-20 08:00:00.000 +0000
2         658010  2014-02-15 21:10:05.000 +0000  2014-01-09 08:00:00.000 +0000
3         659347  2014-02-21 03:10:02.000 +0000  2014-01-17 08:00:00.000 +0000
4         656933  2014-02-13 06:10:02.000 +0000  2013-12-17 08:00:00.000 +0000
...          ...                            ...                            ...
1419602   988180  2016-01-02 01:00:03.000 +0000  2015-11-23 08:00:00.000 +0000
1419603   988213  2016-01-02 16:40:07.000 +0000  2015-11-24 08:00:00.000 +0000
1419604   989109  2016-01-03 22:20:04.000 +0000  2015-11-13 08:00:00.000 +0000
1419605   989143  2016-01-05 08:50:02.000 +0000  2015-11-03 08:00:00.000 +0000
1419606   989240  2016-01-03 20:50:06.000 +0000  2015-11-03 08:00:00.000 +0000

[1419607 rows x 3 columns]

In [6]:
import datetime
import time

In [7]:
duration["planned_expiration_time"] = pd.to_datetime(duration["planned_expiration_time"])
duration["disburse_time"] = pd.to_datetime(duration["disburse_time"])
duration.insert(3, "loans_duration", (duration.iloc[:, 1]-duration.iloc[:, 2]).astype('timedelta64[D]'), True)
duration["loans_duration"].apply(lambda i: int(i) if pd.notnull(i) else i)
display(duration)

C:\Users\Alessio\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Alessio\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,loan_id,planned_expiration_time,disburse_time,loans_duration
0,657307,2014-02-14 03:30:06+00:00,2013-12-22 08:00:00+00:00,53.0
1,657259,2014-03-26 22:25:07+00:00,2013-12-20 08:00:00+00:00,96.0
2,658010,2014-02-15 21:10:05+00:00,2014-01-09 08:00:00+00:00,37.0
3,659347,2014-02-21 03:10:02+00:00,2014-01-17 08:00:00+00:00,34.0
4,656933,2014-02-13 06:10:02+00:00,2013-12-17 08:00:00+00:00,57.0
...,...,...,...,...
1419602,988180,2016-01-02 01:00:03+00:00,2015-11-23 08:00:00+00:00,39.0
1419603,988213,2016-01-02 16:40:07+00:00,2015-11-24 08:00:00+00:00,39.0
1419604,989109,2016-01-03 22:20:04+00:00,2015-11-13 08:00:00+00:00,51.0
1419605,989143,2016-01-05 08:50:02+00:00,2015-11-03 08:00:00+00:00,63.0
1419606,989240,2016-01-03 20:50:06+00:00,2015-11-03 08:00:00+00:00,61.0

In [8]:
loans_lender_ND = pd.merge(loans_lenders_normalized, duration.iloc[:, [0, 3]], on="loan_id", right_index=True)
display(loans_lender_ND)

          loan_id            lenders  loans_duration
0          483693             muc888            57.0
1          483693            sam4326            57.0
2          483693        camaran3922            57.0
3          483693        lachheb1865            57.0
4          483693        rebecca3499            57.0
...           ...                ...             ...
28293926  1206425  trogdorfamily7622            44.0
28293927  1206425          danny6470            44.0
28293928  1206425            don6118            44.0
28293929  1206486           alan5175            64.0
28293930  1206486        amy38101311            64.0

[28293912 rows x 3 columns]

3) Find the lenders that have funded at least twice.

In [9]:
loans_lenders_normalized['lenders'].value_counts()[loans_lenders_normalized['lenders'].value_counts()>1]

gooddogg1                  177645
trolltech4460              150762
gmct                       128159
nms                        104314
themissionbeltco            81434
                            ...
victoria4261                    2
kevin66066467                   2
jacksonvillejuniors5159         2
rosa2532                        2
kelly5191                       2
Name: lenders, Length: 901811, dtype: int64

4) For each country, compute how many loans have involved that country as borrowers.

In [10]:
loans.groupby("country_name").size().sort_values(ascending=False)

country_name
Philippines         285336
Kenya               143699
Peru                 86000
Cambodia             79701
El Salvador          64037
                     ...
Canada                   1
Botswana                 1
Uruguay                  1
Papua New Guinea         1
Mauritania               1
Length: 96, dtype: int64

5) For each country, compute the overall amount of money borrowed.

In [11]:
country_loan=loans.groupby("country_name").sum()["loan_amount"].sort_values(ascending=False)
display(country_loan)

country_name
Philippines       97984600.0
Peru              79437775.0
Kenya             66735975.0
Paraguay          53964700.0
Cambodia          51613525.0
                     ...
Virgin Islands       10000.0
Vanuatu               9250.0
Botswana              8000.0
Uruguay               8000.0
Gaza                  5000.0
Name: loan_amount, Length: 96, dtype: float64

6) Like the previous point, but expressed as a percentage of the overall amount lent.

In [12]:
total_loan_amount=loans["loan_amount"].sum()
display((country_loan/total_loan_amount)*100)

country_name
Philippines       8.293678
Peru              6.723825
Kenya             5.648711
Paraguay          4.567716
Cambodia          4.368706
                    ...
Virgin Islands    0.000846
Vanuatu           0.000783
Botswana          0.000677
Uruguay           0.000677
Gaza              0.000423
Name: loan_amount, Length: 96, dtype: float64

7) Like the three previous points, but split for each year (with respect to disburse time).

In [13]:
loans["year_disburse"]=pd.to_datetime(loans["disburse_time"]).dt.year
#punto 4
loans.groupby(["country_name","year_disburse"]).size()

country_name  year_disburse
Afghanistan   2007.0            408
              2008.0            370
              2009.0            678
              2010.0            632
              2011.0            247
                               ...
Zimbabwe      2013.0            426
              2014.0           2078
              2015.0            600
              2016.0            808
              2017.0           1079
Length: 748, dtype: int64

In [14]:
#punto 5
country_loan_year=loans.groupby(["country_name","year_disburse"]).sum()["loan_amount"]
display(country_loan_year)

country_name  year_disburse
Afghanistan   2007.0            194975.0
              2008.0            365375.0
              2009.0            585125.0
              2010.0            563350.0
              2011.0            245125.0
                                 ...
Zimbabwe      2013.0            678525.0
              2014.0           1311575.0
              2015.0            723625.0
              2016.0            788600.0
              2017.0           1237600.0
Name: loan_amount, Length: 748, dtype: float64

In [15]:
#punto 6
display((country_loan_year/country_loan)*100)

country_name  year_disburse
Afghanistan   2007.0            9.907518
              2008.0           18.566275
              2009.0           29.732717
              2010.0           28.626235
              2011.0           12.455855
                                 ...
Zimbabwe      2013.0           11.595002
              2014.0           22.412902
              2015.0           12.365695
              2016.0           13.476023
              2017.0           21.148777
Name: loan_amount, Length: 748, dtype: float64

8) For each lender, compute the overall amount of money lent. For each loan that has more than one lender, you must assume that all lenders contributed the same amount.

In [16]:
loans["loan_single_lenders"]=loans["loan_amount"]/loans["num_lenders_total"]
loans_single_lenders = pd.merge(loans_lenders_normalized, loans[["loan_id","loan_single_lenders"]], on="loan_id", right_index=True)
loans_single_lenders.groupby("lenders").sum()["loan_single_lenders"]

lenders
000                1563.881085
00000              1249.947363
0002               2201.180463
00mike00             38.461538
0101craign0101     2424.088932
                      ...
zzmcfate          60150.832762
zzpaghetti9994       44.247788
zzrvmf8538          551.829575
zzzsai              236.888048
zzzworld             26.315789
Name: loan_single_lenders, Length: 1383799, dtype: float64

9) For each country, compute the difference between the overall amount of money lent and the overall amount of money borrowed. Since the country of the lender is often unknown, you can assume that the true distribution among the countries is the same as the one computed from the rows where the country is known.

In [17]:
#importazione dataset lenders
lenders=pd.read_csv("C:\\Users\\Alessio\\Desktop\\Universita\\Magistrale\\Primo anno\\Foundations of computer science\\Progetto\\additional-kiva-snapshot\\lenders.csv")

In [18]:
#imputazione Na proporzionale ai dati già presenti nel dataset
proportion=lenders.groupby("country_code").size()/lenders["country_code"].notna().sum()
lista=list(proportion.items())
df=pd.DataFrame(lista, columns=["country_code", "proportion"])
lenders['country_code'] = lenders['country_code'].fillna(pd.Series(np.random.choice(df["country_code"],p=df["proportion"], size=len(lenders))))

In [19]:
#ora che non ci sono più na si può procedere al calcolo del totale di money lent

df_money_lent=pd.merge(loans_single_lenders, lenders[["permanent_name","country_code"]], left_on="lenders", right_on="permanent_name", left_index=True)

In [20]:
lent=df_money_lent.groupby("country_code").sum()["loan_single_lenders"]
borrowed=loans.groupby("country_code").sum()["loan_amount"]

In [21]:
difference=lent-borrowed
display(difference.dropna()) #alcuni codici erano presenti solamente in uno dei due dataset, perciò sono stati scartati

country_code
AF   -1.813409e+06
AL   -4.278994e+06
AM   -2.290846e+07
AZ   -1.477072e+07
BA   -4.057565e+05
          ...
XK   -3.071469e+06
YE   -3.295270e+06
ZA   -3.746419e+05
ZM   -1.939969e+06
ZW   -5.839092e+06
Length: 94, dtype: float64

In [22]:
difference.head(92)

country_code
AD             NaN
AE             NaN
AF   -1.813409e+06
AG             NaN
AI             NaN
          ...
GZ   -2.861150e+03
HK             NaN
HN   -1.195132e+07
HR             NaN
HT   -4.482571e+06
Length: 92, dtype: float64

10) Which country has the highest ratio between the difference computed at the previous point and the population?

In [23]:
#importazione dataset country_stats
country_stats=pd.read_csv("C:\\Users\\Alessio\\Desktop\\Universita\\Magistrale\\Primo anno\\Foundations of computer science\\Progetto\\additional-kiva-snapshot\\country_stats.csv")

In [24]:
population=country_stats.groupby("country_code")["population"].first()

In [25]:
ratio_pop=difference/population
ratio_pop.dropna().sort_values(ascending=False)

country_code
CA     2.351853
US     1.832765
UY     0.029054
TH     0.009360
BR     0.007857
        ...
MN    -4.965134
SV    -6.530014
AM    -7.817385
PY    -7.915558
WS   -62.158003
Length: 89, dtype: float64

11) Which country has the highest ratio between the difference computed at point 9 and the population that is not below the poverty line?

In [26]:
country_stats["rich_pop"] = (country_stats["population"]*(100-country_stats["population_below_poverty_line"]))/100

In [27]:
rich_population=country_stats.groupby("country_code")["rich_pop"].first()

In [28]:
ratio_rich_pop=difference/rich_population
ratio_rich_pop.dropna().sort_values(ascending=False)

country_code
CA     2.595864
US     2.158734
UY     0.032174
TH     0.010086
BR     0.008159
        ...
BO    -6.512360
NI    -6.874768
SV   -10.030743
PY   -10.174240
AM   -11.496155
Length: 84, dtype: float64

12) For each year, compute the total amount of loans. Each loan that has planned expiration time and disburse time in different years must have its amount distributed proportionally to the number of days in each year. For example, a loan with disburse time December 1st, 2016, planned expiration time January 30th 2018, and amount 5000USD has an amount of 5000USD * 31 / (31+365+30) = 363.85 for 2016, 5000USD * 365 / (31+365+30) = 4284.04 for 2017, and 5000USD * 30 / (31+365+30) = 352.11 for 2018.

In [29]:
duration=loans.loc[: , ["disburse_time","planned_expiration_time","loan_amount"]]
duration["disburse_time"] = pd.to_datetime(duration["disburse_time"])
duration["planned_expiration_time"] = pd.to_datetime(duration["planned_expiration_time"])
duration.insert(3, "loans_duration", (duration.iloc[:, 1]-duration.iloc[:, 0]).astype('timedelta64[D]'), True)
duration["loans_duration"].apply(lambda i: int(i) if pd.notnull(i) else i)
delete_row=(duration[duration.loc[:,"loans_duration"]<0]).index
#siccome ci sono 14935 osservazioni che hanno planned_expiration antecedente a disburse_time queste verranno eliminate
new_duration=duration.drop(delete_row) 
#gestione NA
new_duration=new_duration.dropna(subset=["planned_expiration_time","disburse_time"])
#display(new_duration)
new_duration.isna().sum()

disburse_time              0
planned_expiration_time    0
loan_amount                0
loans_duration             0
dtype: int64

In [30]:
new_duration["disburse_time"]=pd.to_datetime(new_duration["disburse_time"]).dt.date
new_duration["planned_expiration_time"]=pd.to_datetime(new_duration["planned_expiration_time"]).dt.date
new_duration["anno_dis"]=pd.to_datetime(new_duration["disburse_time"]).dt.year
new_duration["anno_exp"]=pd.to_datetime(new_duration["planned_expiration_time"]).dt.year

In [31]:
new_duration["anno_dis"].head()

0    2013
1    2013
2    2014
3    2014
4    2013
Name: anno_dis, dtype: int64

In [36]:
#casi anni uguali, in questo caso tutta la somma viene messa nell'anno di disburse time

#CAPIRE COME SI COMPORTA IL TUTTO QUANDO HANNO STESSA IDENTICA DATA, SI DOVREBBE DIVIDERE PER 0!!!
df1=new_duration[new_duration["anno_dis"]==new_duration["anno_exp"]]
diz=df1.groupby('anno_dis')['loan_amount'].sum().to_dict()
diz

{2012: 103911725.0,
 2013: 98427750.0,
 2014: 120644250.0,
 2015: 131208475.0,
 2016: 133271575.0,
 2017: 144870625.0,
 2018: 85300.0}

In [32]:
#casi con un anno di differenza
df2=new_duration[(new_duration["anno_dis"]+1)==new_duration["anno_exp"]]
df2["fine_anno"]=df2["anno_dis"].astype(str)+"-12-31"
df2["inizio_anno"]=df2["anno_exp"].astype(str)+"-01-01"
df2["fine_anno"]=pd.to_datetime(df2["fine_anno"])
df2["inizio_anno"]=pd.to_datetime(df2["inizio_anno"])
df2["giorni_afine"]=(df2.loc[:, "fine_anno"]-df2.loc[:,"disburse_time"].astype('<M8[ns]')).astype('timedelta64[D]')
df2["giorni_afine"]=df2["giorni_afine"].apply(lambda i: int(i))
df2["giorni_ainizio"]=(df2.loc[:, "planned_expiration_time"].astype('<M8[ns]')-df2.loc[:,"inizio_anno"]).astype('timedelta64[D]')
df2["giorni_ainizio"]=df2["giorni_ainizio"].apply(lambda i: int(i))
df2["totale_anno1"]=(df2["giorni_afine"].astype(int)*df2["loan_amount"])/(df2["loans_duration"])
df2["totale_anno2"]=(df2["giorni_ainizio"].astype(int)*df2["loan_amount"])/(df2["loans_duration"])
diz1=df2.groupby('anno_dis')['totale_anno1'].sum().to_dict()
diz2=df2.groupby('anno_exp')['totale_anno2'].sum().to_dict()
display(diz1,diz2)

C:\Users\Alessio\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Alessio\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Alessio\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Alessio\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Alessio\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\Alessio\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Alessio\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\Alessio\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Alessio\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Alessio\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

{2011: 631465.3516900627,
 2012: 7131822.240651376,
 2013: 17582308.36385827,
 2014: 15403574.395862252,
 2015: 10223536.526599012,
 2016: 11033621.099766701,
 2017: 9105319.338180225}

{2012: 1969420.2078953043,
 2013: 7206345.589864023,
 2014: 14207426.905268004,
 2015: 13333488.402907602,
 2016: 9428518.17788351,
 2017: 11133439.189672021,
 2018: 4710773.386125176}

In [33]:
#casi con più anni di differenza
df3=new_duration[(new_duration["anno_dis"]+1)<new_duration["anno_exp"]]
df3["fine_anno"]=df3["anno_dis"].astype(str)+"-12-31"
df3["inizio_anno"]=df3["anno_exp"].astype(str)+"-01-01"
df3["fine_anno"]=pd.to_datetime(df3["fine_anno"])
df3["inizio_anno"]=pd.to_datetime(df3["inizio_anno"])
df3["giorni_afine"]=(df3.loc[:, "fine_anno"]-df3.loc[:,"disburse_time"].astype('<M8[ns]')).astype('timedelta64[D]')
df3["giorni_afine"]=df3["giorni_afine"].apply(lambda i: int(i))
df3["giorni_ainizio"]=(df3.loc[:, "planned_expiration_time"].astype('<M8[ns]')-df3.loc[:,"inizio_anno"]).astype('timedelta64[D]')
df3["giorni_ainizio"]=df3["giorni_ainizio"].apply(lambda i: int(i))
df3["totale_anno1"]=(df3["giorni_afine"].astype(int)*df3["loan_amount"])/(df3["loans_duration"])
df3["totale_anno2"]=(df3["giorni_ainizio"].astype(int)*df3["loan_amount"])/(df3["loans_duration"])
df3["differenza"]=df3["anno_exp"]-df3["anno_dis"]-1
df3["totale_altri_anni"]=(365*df3["loan_amount"])/(df3["loans_duration"])
df3
diz3=df3.groupby('anno_dis')['totale_anno1'].sum().to_dict()
diz4=df3.groupby('anno_exp')['totale_anno2'].sum().to_dict()
display(diz3,diz4)

C:\Users\Alessio\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Alessio\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Alessio\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Alessio\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Alessio\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\Alessio\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Alessio\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\Alessio\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Alessio\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Alessio\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\Alessio\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\Alessio\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

{2011: 212.99234111396422, 2012: 30282.59610687777}

{2016: 36016.32595236585}

In [34]:
diz5={}
for i in range(0,len(df3)):
    anno_dis=df3.iloc[i,4]+1
    anno_exp=df3.iloc[i,5]
    while anno_dis!=anno_exp:
        if anno_dis not in diz5:
            diz5[anno_dis]=df3.iloc[i,-1]
            anno_dis+=1
        else: 
            diz5[anno_dis]+=df3.iloc[i,-1]
            anno_dis+=1
diz5   
#i risultati sono sempre gli stessi per 2013-4-5 perchè la fine è sempre nel 2016

{2012: 6970.144908892993,
 2013: 73033.10540340861,
 2014: 73033.10540340861,
 2015: 73033.10540340861}

In [37]:
#somma di tutti i dizionari
from collections import Counter 
totale= Counter(diz) + Counter(diz1) + Counter(diz2)+ Counter(diz3)+ Counter(diz4)+ Counter(diz5)
totale

Counter({2012: 113050220.18956244,
         2013: 123289437.0591257,
         2014: 150328284.4065337,
         2015: 154838533.03491005,
         2016: 153769730.60360256,
         2017: 165109383.52785224,
         2018: 4796073.386125176,
         2011: 631678.3440311766})